extends item.pug 

append vars
  - page = "Conejo Egg Ball"

append content
  p My friend #[a.nearr(href="http://twitter.com/yogurt200" target="_blank") Sofa] created a virtual hangout world in Second Life called Conejo Island, where she hosts events and parties every now and then. On May 2, her and I hosted the Conejo Island Golden Egg Ball&mdash;an SL rave that I played a 2-hour live DJ set for. #[a.nearr(href="https://drive.google.com/file/d/1XOusyEAwDAxzFgxgkML-q5-9wyt8jqG5/view?usp=sharing" target="blank") You can download my set here.]
  figure
    img(src="img/conejo3.jpg")
    figcaption The stage.
  figure
    img(src="img/conejo2.jpg")
    figcaption Group photo.
  figure
    img(src="img/conejo1.jpg")
    figcaption Conejo Islanders partying.
  p I also designed a flyer to promote the rave on Twitter:
  figure
    img(src="img/conejoflyer.jpg")
    //- figcaption The flyer.
  