extends item.pug 

append vars
  - page = "Etobicoke Fashion Show"

append content
  p The students of Etobicoke School of the Arts run a fashion show each year showcasing students&rsquo; designs and artworks, as well as a magazine with photos of designs made for the show and fashion essays.
  p In 2019, the school got the opportunity to host the show on a much larger scale&mdash;Cloverdale Mall provided funding and a massive space to work with. As the design director I designed a website, posters, programs, and an 80+ page magazine&mdash;all featuring custom type. I also curated music and DJed for the final event.