extends item.pug 

append vars
  - page = "Famicase"

append content
  p #[a(href="https://famicase.com/" target="_blank") My Famicase Exhibition] is an annual exhibition hosted by Meteor. ~250 participants submit made-up Famicom game cartridge labels, which are then printed on cartridges and displayed in a gallery in Tokyo, and printed in a catalog book. 
  p This year I submitted an entry to Famicase&mdash;an installation cartridge for an operating system for robots.
  figure
    img(src="img/famicase-mockup.png")
    figcaption My Famicase entry.