extends base.pug

append vars
  - page = "Home"

append body
  .grid
    .bio
      section
        h3 bio.
        small Mel Marshall (she/her) is an artist, graphic designer, and type designer in Toronto, Canada. Forward complaints to #[a.nearr(href="http://sbintl.cc" target="_blank") SB International.] I am available for digital art/graphic design/custom typeface commissions&mdash;just shoot me an email with the details.
      h3.nm #[a.nearr(href="mailto:frogheck@gmail.com" target="_blank") email]
      h3.nm #[a.nearr(href="http://piraba.net" target="_blank") discord]
      h3.nm #[a.nearr(href="http://twitter.com/ncb0_" target="_blank") twitter]
      h3.nm #[a.nearr(href="http://are.na/ncb-0" target="_blank") are.na]
    .items
      h3 work.
      //- h2 &rarr;  
      //- .item#asb
      //-   a(href="sb.html")
      //-     #itxt
      //-       h2.nm SB&nbsp;Int’l
      //-     #iarr
      //-       h2.nm &rarr;
      .item#apiraba
        a(href="piraba.html")
          #itxt
            h2.nm Piraba
          #iarr
            h2.nm &rarr;
      .item#afamicase
        a(href="famicase.html")
          #itxt
            h2.nm Famicase
          #iarr
            h2.nm &rarr;
      .item#ayakui
        a(href="yakui.html")
          #itxt
            h2.nm Yakui
          #iarr
            h2.nm &rarr;
      //- .item#aitemlabel
      //-   a(href="itemlabel.html")
      //-     #itxt
      //-       h2.nm itemLabel
      //-     #iarr
      //-       h2.nm &rarr;
      //- .item#acrushed
      //-   a(href="crushed.html")
      //-     #itxt
      //-       h2.nm Crushed
      //-     #iarr
      //-       h2.nm &rarr;
      //- .item#aefs
      //-   a(href="efs.html")
      //-     #itxt
      //-       h2.nm EFS
      //-     #iarr
      //-       h2.nm &rarr;
      .item#apd9
        a(href="pd9.html")
          #itxt
            h2.nm PD9
          #iarr
            h2.nm &rarr;
      .item#azine
        a(href="zine.html")
          #itxt
            h2.nm 24&nbsp;32
          #iarr
            h2.nm &rarr;
      .item#aneet
        a(href="neet.html")
          #itxt
            h2.nm Neet
          #iarr
            h2.nm &rarr;
  .hero
    h3 img.
  .gradient
  //- .pira
  //-   a(href="http://piraba.net" target="_blank") #[img(src="img/pira-R.svg" width="35px")]
  //- include piraba.pug