extends base.pug

append vars 
  - page = "Item"

append body
  .back
    h3 #[a(href="index.html") &larr;]
  .info
    h3(style="margin-bottom:10px") #[span.hide #[a(href="index.html") &larr;]] info.
    h1 #{page}.
    block content