extends item.pug 

append vars
  - page = "itemLabel"

append content
  p #[a.nearr(href="http://itemlabel.com" target="_blank") itemLabel] is artist #[a.nearr(href="http://mushbuh.com" target="_blank") Mushbuh's] online store and brand. Several itemLabel products make use of an unreleased typeface of mine, dubbed “Telecom.”