extends item.pug 

append vars
  - page = "Neetgear"

append content
  p In November 2017 I joined former online clothing brand/artist collective Neetgear. Neet collaborated with many different artists to produce T-shirts, sweaters, hats, shoes, and other products.
  p Neet closed in December 2018.
  figure
    img(src="img/neet2.jpg")
    figcaption Lilian Chen and Dexter Huizenga modelling a shirt and a sweater I made for Neetgear.