extends item.pug 

append vars
  - page = "Piraba"

append content
  p #[a.nearr(href="http://piraba.net" target="_blank") Piraba] (ピラ場 “land of Pira”) is my Discord server, free for anyone to join. Many of us are artists, musicians, designers, or otherwise creators. Occasionally we draw together via Drawpile or listen to music together in the voice channel. We also have a #[a.nearr(href="http://piraba.aternos.me" target="_blank") Minecraft server.] My handle is @ncb0#0408.
  p Many Piraba members are also compliant with the #[a.nearr(href="http://pluslorem.wiki" target="_blank") Leavalia Scheme.]
  figure
    img(src="img/piraba.jpg")
    figcaption Graffiti of Pira (Piraba’s mascot) on some scaffolding in Toronto.