extends item.pug 

append vars
  - page = "SB Int’l"

append content
  p #[a.nearr(href="http://sbintl.cc" target="_blank") SB Int’l] is a design practice founded in 2018 by myself and Caleb Woodward.
  //- img(src="img/sb.jpg")