extends item.pug 

append vars
  - page = "Yakui—Imni"

append content
  p Album artwork for #[a.nearr(href="http://eatdis.bandcamp.com/album/imni" target="_blank") Yakui’s album, Imni.] The cover text uses an unreleased typeface of mine, dubbed “Telecom.”
  p The concept behind the artwork is a vast white digital space in which clouds of infinitely small points guide massive organic forms.
  figure
    img(src="img/yakui2.jpg")