---

---

<!doctype html>
<html>
  <head>
    {% if page.title != "index" %}
      <title>ncb0 &rarr; {{ page.title }}</title>
    {% else %}
    <title>ncb0</title>
    {% endif %}
    <!-- css -->
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | prepend: site.baseurl}}">
    <!-- icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/icon/favicon-16x16.png">
    <link rel="manifest" href="assets/icon/site.webmanifest">
    <link rel="mask-icon" href="assets/icon/safari-pinned-tab.svg" color="#ff0000">
    <link rel="shortcut icon" href="assets/icon/favicon.ico">
    <meta name="msapplication-TileColor" content="#ff0000">
    <meta name="msapplication-config" content="assets/icon/browserconfig.xml">
    <meta name="theme-color" content="#ff0000">
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"   integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="assets/js/main.js"></script>
    {% feed_meta %}
    {% seo %}
  </head>
    <body>
      {{ content }}
    </body>
</html>